<div class="section section-white blog-content">
    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div>
                    <p><strong>¿Qué es el aguinaldo?</strong></p>
                    <p>Para empezar, despejemos una duda común: ¿Qué es el aguinaldo y cómo se calcula? 
                        El aguinaldo es un pago obligatorio al que tienes derecho como trabajador/a asalariadx 
                        con contrato en una empresa. Según la Ley, equivale al menos a 15 días de salario por cada 
                        año completo trabajado. Sin embargo, algunas empresas pueden otorgar un pago superior en 
                        función de sus políticas internas. Este derecho está respaldado por el Artículo 87 de la Ley 
                        Federal del Trabajo.</p><br>

                    <p><strong>¿Recibo aguinaldo si comencé a trabajar a mitad de año?</strong></p>
                    <p>Si empezaste a trabajar a mitad del año, tienes derecho a recibir una parte proporcional del aguinaldo 
                        de acuerdo al tiempo laborado. No es necesario haber trabajado el año completo para obtener este beneficio.</p><br>
                    <p><code>Importante: En caso de que ya no estés laborando en las fechas de pago, ya sea por renuncia o despido anticipado, 
                        también se te deberá pagar la parte proporcional del aguinaldo junto con tu liquidación o finiquito.</code></p><br>

                    <p><strong>Impuestos sobre el aguinaldo</strong></p>
                    <p>El aguinaldo que recibes está exento de impuestos hasta la cantidad de $2,925.00 MXN.</p><br>
                    <p>Por ejemplo, si tu aguinaldo es de $5,000.00 MXN, solo pagarías impuestos por la diferencia que excede ese límite, 
                        que sería de $2,075.00 MXN. Los impuestos se calculan según las tarifas establecidas que van desde el 1.92% hasta el 35% 
                        para el pago del ISR.</p><br>

                    <p><strong>Fechas importantes</strong></p>
                    <p>La fecha límite para que las empresas realicen el pago del aguinaldo es el 20 de diciembre. Sin embargo, es importante 
                        mencionar que algunos grupos, como los pensionados o servidores públicos, pueden recibirlo desde el 1 de noviembre.</p><br>

                    <p><strong>¿A quién le toca recibirlo?</strong></p>
                    <p>Es importante tener en cuenta que el aguinaldo corresponde exclusivamente a las personas que se encuentran en la nómina de la 
                        empresa y están contratadas como asalariadxs..</p><br><br>
                    <p>Desafortunadamente, si estás bajo el esquema de Honorarios, Asimilados o si eres freelance, no tienes derecho a recibir esta 
                        prestación laboral. Es importante tener claridad sobre las condiciones de tu contrato y buscar alternativas para asegurar tu 
                        estabilidad financiera en estas circunstancias</p><br>

                    <p><code><strong>Información adicional</strong></code></p>
                    <p><code>Recuerda que si no te han pagado tu aguinaldo en su totalidad o si consideras que no se realizó correctamente, tienes 
                        hasta 1 año para exigir. En caso de encontrarte en esta situación, te recomendamos acudir a la PROFEDET, donde recibirás 
                        asesoramiento gratuito para resolver cualquier problema relacionado con tu aguinaldo.</code></p>    
                </div>
                <div class="d-flex my-4">
                    <div class="label label-primary label-sm" style="margin-right:0.33rem"><a
                            href="">#Aguinaldo</a></div>
                </div>
            </div>
        </div>
    </div>
</div>