<div class="section section-purple">
    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-lg-9 text-center">
                <div class="featured-thumbnail">
                    <div class=" gatsby-image-wrapper" style="position:relative;overflow:hidden;border-radius:5px">
                        <div aria-hidden="true" style="width:100%;padding-bottom:66.8%"></div><img aria-hidden="true"
                            src="../img/gallery/aguinaldo.png"
                            alt="featured image thumbnail for post ¿Se puede evadir al SAT?"
                            style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; object-position: center center; opacity: 0; transition-delay: 500ms;">
                        <picture>
                            <source srcset="../img/gallery/aguinaldo.png" sizes="(max-width: 1000px) 100vw, 1000px"><img
                                sizes="(max-width: 1000px) 100vw, 1000px" srcset="../img/gallery/aguinaldo.png" 
                                src="../img/gallery/aguinaldo.png" 
                                alt="featured image thumbnail for post ¿Se puede evadir al SAT?" loading="lazy"
                                style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; object-position: center center; opacity: 1; transition: opacity 500ms ease 0s;">
                        </picture><noscript>
                            <picture>
                                <source srcset="../img/gallery/aguinaldo.png"  sizes="(max-width: 1000px) 100vw, 1000px" />
                                <img loading="lazy" sizes="(max-width: 1000px) 100vw, 1000px" srcset="../img/gallery/aguinaldo.png" 
                                    src="../img/gallery/aguinaldo.png" 
                                    alt="featured image thumbnail for post ¿Se puede evadir al SAT?"
                                    style="position:absolute;top:0;left:0;opacity:1;width:100%;height:100%;object-fit:cover;object-position:center" />
                            </picture>
                        </noscript>
                    </div>
                </div>
                <h1 class="text-primary mt-5">Todo sobre el aguinaldo</h1>
                <p class="text-light font-lg">Si eres trabajador/a, es esencial que conozcas todos los aspectos relacionados con el aguinaldo. 
                    Aquí, responderemos preguntas comunes sobre este beneficio laboral. Descubre qué es el aguinaldo, cómo se calcula, si puedes recibirlo 
                    si empezaste a trabajar a mitad de año, si se pagan impuestos sobre él y cuándo y a quién le corresponde recibirlo. También te daremos 
                    información sobre tus derechos en caso de que no se realice correctamente el pago del aguinaldo.</p>
            </div>
        </div>
    </div>
</div>
