<div class="section section-white blog-content">
    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div>
                    <p><strong>¿Qué es el aguinaldo? Descubre tus derechos como trabajador/a</strong></p>
                    <p>El aguinaldo es un derecho obligatorio que tienen los trabajadores/as en una empresa. 
                        Se calcula como el equivalente a 15 días de salario por cada año completo trabajado. 
                        Sin embargo, algunas empresas pueden ofrecer un pago superior. Conoce más sobre este 
                        beneficio laboral y sus fundamentos legales.</p><br>

                    <p><strong>Recepción del aguinaldo si se empieza a trabajar a mitad de año</strong></p>
                    <p>Si comenzaste a trabajar a mitad del año, tienes derecho a recibir la parte proporcional 
                        del aguinaldo de acuerdo al tiempo laborado. Aprende más sobre cómo se calcula y qué sucede 
                        en caso de renuncia o despido antes de la fecha de pago.</p><br>

                    <p><strong>Impuestos sobre el aguinaldo: Monto exento y cálculo del ISR</strong></p>
                    <p>El aguinaldo está exento de impuestos hasta la cantidad de $2,925.00 MXN. Descubre cómo se 
                        calculan los impuestos en caso de que excedas esta cantidad y conoce las tarifas establecidas 
                        para el pago del ISR.</p><br>

                    <p><strong>Fechas importantes: Entrega del aguinaldo y destinatarios</strong></p>
                    <p>La fecha límite para que las empresas realicen el pago del aguinaldo es el 20 de diciembre, aunque algunas 
                        personas como pensionados o servidores públicos pueden recibirlo desde el 1 de noviembre. Además, conoce 
                        quiénes tienen derecho a recibir el aguinaldo y quiénes quedan excluidos.</p><br>

                    <p><strong>Información adicional: Derechos y asesoría en caso de irregularidades </strong></p>
                    <p>Recuerda que tienes hasta 1 año para exigir tu aguinaldo en caso de que no te lo paguen en su totalidad o si 
                        se realizó de manera incorrecta. En caso de cualquier problema, no dudes en acudir a la PROFEDET, donde recibirás 
                        asesoría gratuita.</p><br><br>

                       
                    <p><code>Ahora que tienes toda la información sobre el aguinaldo, desde su definición y cálculo hasta las fechas importantes y 
                        los impuestos relacionados, podrás estar preparado/a y conocer tus derechos como trabajador/a. Si enfrentas alguna situación 
                        irregular, recuerda buscar asesoría profesional para resolver cualquier problema relacionado con tu aguinaldo.</code></p>    
                </div>
                <div class="d-flex my-4">
                    <div class="label label-primary label-sm" style="margin-right:0.33rem"><a
                            href="">#deducciones</a></div>
                </div>
            </div>
        </div>
    </div>
</div>