<div class="section section-white blog-content">
    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div>
                    <p><strong>1) Requisitos y porcentaje deducible</strong></p>
                    <p>Si eres emprendedor y necesitas llevar a un cliente a comer en un restaurante 
                        para tratar un proyecto de trabajo, esa comida puede considerarse un gasto deducible. 
                        Sin embargo, ten en cuenta que solo se considerará el 8.5% del total del consumo, excluyendo 
                        propinas y bebidas alcohólicas.</p><br>

                    <p><strong>2) Facturación en restaurantes</strong></p>
                    <p>Es fundamental solicitar al restaurante la factura correspondiente o un ticket para facturar 
                        al pagar la cuenta. Este comprobante debe contener tus datos, los datos del restaurante, los 
                        productos o servicios consumidos, la cantidad y los impuestos correspondientes.</p>
                    <p>OJO: El alcohol no entra en los deducibles y si aparece en el ticket puede que no lo puedas deducir. </p><br>

                    <p><strong>3) Viajes de trabajo</strong></p>
                    <p>Si estás en un viaje de trabajo, puedes deducir hasta el 100% de tus gastos si el consumo diario no 
                        supera los $750. Para que esta deducción sea válida, debes solicitar la factura y encontrarte fuera 
                        de un radio de 50 km alrededor de tu domicilio fiscal.</p><br>

                    <p><strong>4) Consideraciones adicionales: Tarjetas, transferencias y límites</strong></p>
                    <p>Recuerda que para que un gasto sea deducible, debes pagarlo con tarjeta o transferencia y solicitar la 
                        factura correspondiente. Además, en el caso de personas morales, existen límites específicos para los 
                        gastos en restaurantes según el tipo de gasto.</p><br>
                        
                    <p>Deducir gastos de comida en restaurantes es posible si cumples con los requisitos establecidos. Sigue 
                        los pasos mencionados y guarda todos los comprobantes necesarios. Así podrás aprovechar al máximo las 
                        deducciones fiscales y optimizar tus recursos. No olvides consultar a un experto en contabilidad para 
                        obtener información detallada sobre tu situación particular.</p>    
                </div>
                <div class="d-flex my-4">
                    <div class="label label-primary label-sm" style="margin-right:0.33rem"><a
                            href="">#deducciones</a></div>
                </div>
            </div>
        </div>
    </div>
</div>