<div class="flower"><img src="../../img/images/flor.png"></div>
    <section>
      <div class="container">
        <div class="title-clientes">
          <p class="p-f pz">
            Nuestros servicios
          </p>
          <button class="b-btn">
            <a class="font-w font-boldb">Agenda una llamada con nosotros</a>
          </button>
        </div>
        <p class="des-p p-f" style="font-size: 52px;">Soda está formado por un equipo de creativos, diseñadores y
          desarrolladores de software que colabora
          para brindar soluciones integrales y especializadas ue van desde al branding hasta el desarrollo de
          software.
        </p>
        <div class="row justify-content-center pad-tp">
          <div class="col-lg-3 col-6">
            <a class="btn btn-outline-dark p-2 p-lg-4 d-block p-b" href="mailto:hola@casasoda.com"
              target="_blank">DISEÑOS DE SITIOS WEB</a>
            </p>
          </div>
          <div class="col-lg-3 col-6">
            <a class="btn btn-outline-dark p-2 p-lg-4 d-block p-b" href="mailto:hola@casasoda.com"
              target="_blank">DISEÑO DE APPS</a>
            </p>
          </div>
          <div class="col-lg-3 col-6">
            <a class="btn btn-outline-dark p-2 p-lg-4 d-block p-b" href="mailto:hola@casasoda.com"
              target="_blank">DESARROLLO WEB</a>
            </p>
          </div>
          <div class="col-lg-3 col-6">
            <a class="btn btn-outline-dark p-2 p-lg-4 d-block p-b" href="mailto:hola@casasoda.com"
              target="_blank">UX / UI</a>
            </p>
          </div>
          <div class="col-lg-3 col-6">
            <a class="btn btn-outline-dark p-2 p-lg-4 d-block p-b" href="mailto:hola@casasoda.com"
              target="_blank">BRANDING</a>
            </p>
          </div>
          <div class="col-lg-3 col-6">
            <a class="btn btn-outline-dark p-2 p-lg-4 d-block p-b" href="mailto:hola@casasoda.com"
              target="_blank">CONTENIDO</a>
            </p>
          </div>
          <div class="col-lg-3 col-6">
            <a class="btn btn-outline-dark p-2 p-lg-4 d-block p-b" href="mailto:hola@casasoda.com"
              target="_blank">PRODUCCION / EXPERIENCIAS</a>
            </p>
          </div>
          <div class="col-lg-3 col-6">
            <a class="btn btn-outline-dark p-2 p-lg-4 d-block p-b" href="mailto:hola@casasoda.com"
              target="_blank">COMUNIDADES / RSS</a>
            </p>
          </div>
        </div>
      </div>
    </section>