<section id="nuestro-trabajo" class=" nuestro-trabajo pt-0">
    <div class="container">
      <div class="section-desc">
        <p class="title p-des" style="font-size:80px">Colaboreamos con comunidades y proyectos que buscan generar un
           impacto social con tecnología, creatividad, y diseño ☘️</p>
      </div>
      <div class="section-title">
        <p class="title text-center" style="padding-bottom: 2rem;">📍 NARVARTE, CDMX</p>
      </div>
      <div class="sec">
        <p class="title text-center p-f" style="padding-top: 2rem">Proyectos recientes</p>
      </div>
      <div class="">
        <div id="carouselprojects" class="carousel slide" data-bs-ride="carousel-2">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselprojects" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselprojects" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <div class="card h-100">
                    <a href="https://lahorasat.com/" target="_blank"></a>
                    <figure class="work-card">
                      <img class="d-block w-100" src="../../img/images/LHS-cover.png" alt="First slide">
                    </figure>
                    <div class="section-title-card">
                      <p class="title font-bold">La Hora SAT</p>
                    </div>
                    <div class="card-info">
                      <p class="p-f"><a href="https://lahorasat.com/"
                        target="_blank">SITIO WEB</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="card h-100">
                    <a href="https://www.pachefest.com/" target="_blank">
                      <figure class="work-card">
                        <img class="d-block w-100" src="../../img/images/PACHE-cover.png" alt="Second slide">
                      </figure>
                      <div class="section-title-card">
                        <p class="title font-bold">PACHEFEST</p>
                      </div>
                      <div class="card-info">
                        <p class="p-f"><a href="https://www.pachefest.com/" target="_blank">SITIO WEB</a></p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="card h-100">
                    <a href="https://highgaang.com/" target="_blank">
                      <figure class="work-card card-sm">
                        <img class="d-block w-100" src="../../img/images/HIGH-cover.png" alt="Third slide">
                      </figure>
                      <div class="section-title-card">
                        <p class="title font-bold">HIGH GAANG</p>
                      </div>
                      <div class="card-info">
                        <p class="p-f"><a href="https://highgaang.com/" target="_blank">SITIO WEB</a></p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-lg-4 mb-3">
                  <div class="card h-100">
                    <a href="https://nauta.network/" target="_blank">
                      <figure class="work-card card-sm">
                        <img class="d-block w-100" src="../../img/images/nauta-cover.png" alt="Four slide">
                      </figure>
                      <div class="section-title-card">
                        <p class="title font-bold">NAUTA</p>
                      </div>
                      <div class="card-info">
                        <p class="p-f"><a href="https://nauta.network/" target="_blank">SITIO WEB</a></p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-4 mb-3">
                  <div class="card h-100">                     
                    <a href="https://cofre.so/" target="_blank">
                      <figure class="work-card card-sm">
                        <img class="d-block w-100" src="../../img/images/cxfre-cover.png" alt="Five slide">
                      </figure>
                      <div class="section-title-card">
                        <p class="title font-bold">COFRE.S O</p>
                      </div>
                      <div class="card-info">
                        <p class="p-f"><a href="https://cofre.so/" target="_blank">SITIO WEB</a></p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-4 mb-3">
                  <div class="card h-100">
                    <a href="https://www.instagram.com/plural_mx/" target="_blank">
                      <figure class="work-card card-sm">
                        <img class="d-block w-100" src="../../img/images/plvral-cover.png" alt="Six slide">
                      </figure>
                      <div class="section-title-card">
                        <p class="title font-bold">PLVRAL</p>
                      </div>
                      <div class="card-info">
                        <p class="p-f"><a href="https://www.instagram.com/plural_mx/" target="_blank">SITIO WEB</a></p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-title">
        <div class="title text-center btn-l">
          <button class="square-btn-slide" type="button" data-bs-target="#carouselprojects"
          data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="square-btn-slide" type="button" data-bs-target="#carouselprojects"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    
  </section>