<section class="bg-section">
    <div class="container">
      <div class="estudios-box-T ">
        <div class="img-p col-lg-4 col-md-4">
          <p class="fpa">CASOS DE ESTUDIO</p>
          <p class="mb-4 p-f font-caso-studio-p col-lg-4 col-md-4">Pachefest</p>
        </div>
        <div class="img-p2">
          <p>En Pachefest buscamos explorar y aprender cómo incluir la naturaleza en nuestros 
            rituales, a través de actividades, música, talleres y conferencias sobre los usos 
            y beneficios de las plantitas, honguitos y flores mágicas. ✨</p>
        </div>
      </div>
      <div class="estudios-box col-lg-4 col-md-4">
          <div class="img-p3 "><img  src="../../img/images/estudio-1.png"></div>
          <div><img src="../../img/images/estudio-2.png"></div>
      </div>
    </div>
    <div class="container">
      <div class="estudios-btn">
          <div class="square-nc"><p class="soon">PACHEFEST 2024 + INFO VERY SOON..</p></div>
          <div><button class="b-btn"><a class="font-w font-boldb">SEGUIR LEYENDO...</a></button></div>
      </div>
    </div>
</section>