<div class="container mt-5 mb-5">
  <div class="white-box p-5">
    <h1>Gerente de contabilidad</h1>
    <p>Estamos buscando un/a profesional experimentadx en contabilidad para unirse a nuestro equipo como líder del
      área contable
      de nuestro proyecto. Este rol jugará un papel crítico en la dirección, administración y planeación para
      seguir creciendo La Hora SAT.</p>
    <h4>Responsabilidades</h4>
    <ul>
      <li>Supervisar la operación diaria e impulsar a que se logren las metas del mes.</li>
      <li>Colaborar con el equipo de marketing para generar contenido para redes sociales.</li>
      <li>Impartir cursos sobre el SAT a grupos online y presencial.</li>
      <li>Resolver dudas fiscales en el chat de soporte.</li>
      <li>Desarrollar y ejecutar una estrategia de impuestos integral que se alinee con nuestros objetivos
        empresariales y cumpla con todas las regulaciones y leyes pertinentes.</li>
      <li>Llevar la administración y contabilidad de los ingresos del proyecto.</li>
      <li>Colaborar con otrxs miembrxs del team para identificar áreas de oportunidad en procesos y desarrollar
        soluciones para mejorar nuestra eficiencia y efectividad general.</li>
    </ul>
    <h4>Requisitos</h4>
    <ul>
      <li>Licenciatura en contabilidad.</li>
      <li>Al menos 3 años de experiencia en el área de contabilidad avanzada.</li>
      <li>Fuertes habilidades analíticas, de resolución de problemas y de comunicación.</li>
      <li>Experiencia comprobada para administrar proyectos complejos y obtener resultados.</li>
      <li>Experiencia en puestos de liderazgo.</li>
      <li>Indispensable saber trabajar en tiempo y en forma en esquema Home Office.</li>
    </ul>
    <h4>Nice-to-haves</h4>
    <ul>
      <li>Experiencia en atención al cliente.</li>
      <li>Experiencia de redacción y/o pedagogía.</li>
      <li>Experiencia con prensa/entrevistas/PR.</li>
    </ul>
    <h4>¿Qué te ofrecemos?</h4>
    <ul>
      <li>Sueldo base + comisiones (15k - 25k aprox).</li>
      <li>2 días de vacaciones al mes.</li>
      <li>Trabajo híbrido.</li>
      <li>Espacio de trabajo disponible en estudio en la Narvarte (CDMX).</li>
      <li>Pago de materiales para tu desarrollo profesional a través de conferencias, cursos, libros, etc y
        artículos de oficina necesarios.</li>
    </ul>
    <h4>¿Por qué trabajar con nosotros?</h4>
    <p>Somos la comunidad de educación fiscal más grande. Tenemos dos años en el mercado y en ese tiempo hemos
      logrado ayudar a
      más de 50 mil personas a aprender de forma sencilla cómo funciona el SAT, nuestra misión es ayudar a las
      nuevas generaciones
      con educación fiscal divertida y fácil de entender con un enfoque de trabajo ágil, creativo y socialmente
      responsable.</p>
    <p>La Hora Sat es parte de <a href="https://casasoda.com/" target="
          _blank" class="text-underline">Casa Soda</a>, un estudio donde desarrollamos y colaboramos con proyectos creativos que buscan
      generar un impacto social.
      Soda está formado por un equipo multidisciplinario y modular de creativos, diseñadores y programadores que
      colaboran para brindar
      soluciones integrales que van desde el diseño de marca, manejo de redes sociales, producción de eventos y
      desarrollo web.</p>
    <h4>¿Cómo aplicar?</h4>
    <p>Envía un correo a <a href="mailto:hola@lahorasat.com" class="text-underline">hola@lahorasat.com</a> con el asunto "Gerente de
      contabilidad" donde incluyas tu CV actualizado y un video de 1min donde nos cuentes por qué quieres ser
      parte del equipo.</p>
  </div>
</div>