<footer id="footer" class="section-black mb-0">
    <div class="container">
      <div class="footer">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <img src="../img/images/logo-footer.svg" alt="">
          </div>

          <div class="col-lg-2 col-md-3 col-sm-3 footer-padding">
            <div class="section-title-footer">
              <h4 class="font-s">SODA STUDIO</h4>
            </div>
            <p><a href="" target="_blank">ÚLTIMOS PROYECTOS</a></p>
            <p><a href="" target="_blank">LOGIN DE CLIENTES</a></p>
            
          </div>

          <div class="col-lg-2 col-md-3 col-sm-3 footer-padding">
            <div class="section-title-footer">
              <h4 class="font-s">FAMILIA SODA</h4>
            </div>
            <p><a href="" target="_blank">PACHEFEST</a></p>
            <p><a href="" target="_blank">HIGH GAANG</a></p>
            <p><a href="" target="_blank">LA HORA SAT</a></p>
            <p><a href="" target="_blank">PLVRAL</a></p>
          </div>

          <div class="col-lg-2 col-md-3 col-sm-3 footer-padding">
            <div class="section-title-footer">
              <h4 class="font-s">UNETE</h4>
            </div>
            <p><a href="https://instagram.com/casasoda__" target="_blank">INSTAGRAM</a></p>
            <p><a href="mailto:hola@casasoda.com" target="_blank">CONTACTO</a></p>
          </div>
        </div>

      </div>
    </div>
</footer>